#mapid { height: 905px; width: 100%;}

/* Προσθέτει μαύρο χρώμα ως φόντο στο περιγράμμα του menu bar */
.topnav {
  background-color: #268;
  overflow: hidden;
}

/* Μορφοποίηση των συνδέσμων εντός του menu bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

/* Χρώμα όταν περνάμε πάνω από το κάθε button με το ποντίκι */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Χρώμα στο ΤΡΕΧΟΝ link-page που βρισκόμαστε */
.topnav a.active {
  background-color: #800080;
  color: white;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Μορφοποίηση πλαισίου λίστας */
select {
       margin-bottom: 50px;
       margin-top: 10px;
       font-family: "Roboto", sans-serif;
       outline: 0;
       background: #4CAF50;
       color: #FFFFFF;
       border: 2px solid #000000;
       padding: 10px;
       border-radius: 2px;
     }


 /* Παραμετροποίηση φόρμας */
.form {
  position: relative;
  z-index: 1;
  background: #9FFFFF;
  max-width: 1200px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
